.spp-enabled {
  outline: 1px dashed black !important;
}

.spp-hover {
  outline: 1px dashed red !important;
}

.spp-hover,
.spp-hover * {
  color: red !important;
}

.spp-display {
  outline: 1px dashed green !important;
}

.spp-display,
.spp-display * {
  color: green !important;
}

.ui-widget .spp {
  display: block;
  padding: 0;
  height: 98%;
}

.ui-widget .spp-code {
  width: 100%;
  height: 100%;
  font-family: monospace;
}
